{% extends 'base.html.twig' %}

{% block title %}The Rooms
{% endblock %}

{% block body %}


	<div class="container">
		<h2 class="text-center">Our Rooms</h2>
		{% for room in rooms %}
			<div class="card mb-3" style="max-width: 600px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src='{{room.rPicture}}' class="img-fluid rounded-start" alt="Error">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">{{room.name}}</h5>
							<h6>Number of seats:
								{{room.rNumber}}</h6>
						</div>
					</div>
				</div>
			</div>
			<hr>
		{% endfor %}

	</div>
{% endblock %}
